@import url('https://fonts.googleapis.com/css?family=Bungee|Contrail+One|Stylish');


* {
  box-sizing: border-box;
}

header {
  background-color: lightblue;
  margin: 0 auto;
  padding: 1.2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: sandybrown;
  text-align: center;
}


h1 {
  font-family: 'Bungee',
  cursive;
  font-size: 2em;
}

h2, h3, h4 {
  font-family: 'Contrail One',
  cursive;
}

p {
  font-family: 'Stylish',
  sans-serif;
}

body {
  background-color: papayawhip;
  font-family: 'Stylish',
  sans-serif;
}

a { 
  text-decoration: none;
  color: darkblue;
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.left-column{
  width: 30%;
  align-items: center;
}

.right-column{
  width: 30%;
}

.search-result {
  padding: 0.5em;
  text-align: center;
}
.search-result img {
  height: 30em;
  height: 20em;
}
