@import url('https://fonts.googleapis.com/css?family=Bungee|Contrail+One|Stylish');


* {
  box-sizing: border-box;
}

header {
  background-color: lightblue;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding: 1.2em;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: sandybrown;
}


h1 {
  font-family: 'Bungee',
  cursive;
  font-size: 2em;
}

h2, h3, h4 {
  font-family: 'Contrail One',
  cursive;
}

p {
  font-family: 'Stylish',
  sans-serif;
}

body {
  background-color: papayawhip;
  font-family: 'Stylish',
  sans-serif;
}

a { 
  text-decoration: none;
  color: darkblue;
}
