<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<% if @bottles == 0 %>
<p>No more bottles of beer on the wall!</p><a href="/">reset</a>
<% else %>
<p>There were <%= @bottles %>bottles of beer on the wall.</p><a href="/<%= @bottles_take %>">Take one down.</a>
<% end %>
</body>
</html>