<h1>Terrain builder</h1>

<form action="/terrain" method="post">
<label for="">name</label>
<input type="text" name="name">
<label for=""></label>
<input type="text" name='image_url'>
<button>Create</button>
</form>